{{ define "error-banner" }}
<div id="error-banner" class="mx-4 relative flex items-center p-1 rounded overflow-hidden bg-danger-light before:content['_'] before:w-1.5 before:h-full before:bg-danger-dark before:absolute before:left-0 before:top-0">
	{{ template "icon-alert" withAttributes
		"class" "text-danger-dark ml-4 mr-3"
	}}
	<div class="font-medium text-base-800">{{ .Error }}</div>
	<button
		hx-on:click="htmx.toggleClass(htmx.find('#error-banner'), 'hidden');"
		class="ml-auto size-10 flex justify-center items-center text-base-800"
	>
		{{ template "icon-close" withAttributes "size" "20" }}
	</button>
</div>
{{ end }}
