{{ define "content" }}
	<div
		{{ if .RefreshData }}
			{{/* prettier-ignore-start */}}
			hx-get="/partials/domains/{{ .Domain.ID }}"
			hx-trigger="load"
			hx-target="#content"
			hx-swap="innerHTML"
			{{/* prettier-ignore-end */}}
		{{ end }}
		class="flex flex-col max-w-3xl w-full mx-auto gap-6"
	>
		<div class="flex flex-col gap-1">
			<h1 class="font-semibold text-xl text-base-800">
				{{ .Domain.DomainName }}
			</h1>
			<span class="text-base-500 font-medium"
				>{{ .Domain.Certificate.IP }}</span
			>
		</div>
		<ul class="grid grid-cols-2 gap-2">
			<li class="contents">
				<span class="font-semibold text-base-800">Status</span>
				<span
					class="{{ statusClass .Domain.Certificate.Status | cn "w-fit rounded-full flex justify-center items-center px-3 py-0.5 text-sm font-medium" }}"
				>
					{{ statusText .Domain.Certificate.Status .Domain.Certificate.Expires }}
				</span>
			</li>
			{{ template "li" withAttributes
				"key" "Issuer"
				"val" .Domain.Certificate.Issuer
			}}
			{{ template "li" withAttributes
				"key" "Expires"
				"val" (datef .Domain.Certificate.Expires "2006-01-02 15:04:05")
				"class" "datetime"
			}}
			{{ template "li" withAttributes
				"key" "Latency"
				"val" (sprintf "%d ms" .Domain.Certificate.Latency)
			}}
			{{ template "li" withAttributes
				"key" "DNS"
				"val" .Domain.Certificate.DNSNames
			}}
			{{ template "li" withAttributes
				"key" "Last checked"
				"val" (datef .Domain.Certificate.CheckedAt "2006-01-02 15:04:05")
				"class" "datetime"
			}}
		</ul>
		<button
			hx-delete="/domains/{{ .Domain.ID }}"
			class="w-fit px-4 py-1.5 rounded-md bg-danger-dark text-base-white font-medium"
		>
			Delete
		</button>
	</div>
	<script>
		localizeDates();
	</script>
{{ end }}
{{ define "li" }}
	<li class="contents">
		<span class="font-semibold text-base-800">
			{{ .key }}
		</span>
		<span class="font-medium text-base-600 {{ .class }}">
			{{ .val }}
		</span>
	</li>
{{ end }}
