{{ define "main-layout" }}
	<div class="flex flex-col min-h-full">
		<header class="flex px-4 py-3">
			<nav hx-boost="true" class="flex w-full">
				<a href="/" class="flex items-center text-xl font-bold tracking-tight mx-2">
					<span class="text-base-900">track</span>
					<span class="text-base-500 ml-0.25">cert</span>
				</a>
				{{ if .User }}
					<a href="/logout" class="ml-auto bg-red-500 text-base-white font-medium rounded-xs px-3 py-1.5">Log out</a>
				{{ else }}
					<a href="/login" class="ml-auto bg-base-900 text-base-white font-medium rounded-xs px-3 py-1.5">Log in</a>
				{{ end }}
			</nav>
		</header>
		<div id="content" class="flex flex-col p-6 sm:p-8 grow">
			{{ block "content" . }}
			{{ end }}
		</div>
	</div>
{{ end }}
