{{template "layout" .}}
{{define "title"}}Settings - NeverExpire{{end}}
{{define "content"}}
	<div class="flex flex-col max-w-3xl w-full mx-auto gap-8">
		{{template "h1" withAttributes "Text" "Settings"}}
		<div class="flex flex-col gap-4">
			{{template "h2" withAttributes "Text" "Account"}}
			<div class="flex flex-col">
				<span class="font-semibold text-base-900">Email</span>
				<div class="flex items-center text-base-600 font-medium">
					{{.LayoutData.User.Email}}
					<button
						id="delete-btn"
						class="ml-auto bg-red-600/80 text-base-white font-medium rounded-md px-3 py-1.5"
					>
						Delete
					</button>
				</div>
			</div>
			<dialog
				id="confirm-dialog"
				class="m-auto rounded-md backdrop:bg-[rgba(0,0,0,0.75)]"
			>
				<div class="flex flex-col p-6 gap-6">
					<span class="text-lg font-medium text-base-900 w-full">
						Are you sure you want to delete your account?
					</span>
					<div class="flex gap-4">
						<button
							id="cancel-btn"
							class="basis-1/2 bg-base-400 hover:bg-base-500/90 text-base-white font-medium rounded-md px-3 py-1.5"
						>
							Cancel
						</button>
						<button
							hx-delete="/account"
							hx-swap="none"
							class="basis-1/2 bg-red-600/80 hover:bg-red-700/80 text-base-white font-medium rounded-md px-3 py-1.5"
						>
							Delete
						</button>
					</div>
				</div>
			</dialog>
			<script src="/static/scripts/account.js"></script>
		</div>
		<div class="flex flex-col gap-4">
			{{template "h2" withAttributes "Text" "Notifications"}}
			<p class="text-base-600 font-medium">
				Set up a
				<a
					href="https://support.discord.com/hc/en-us/articles/360045093012-Server-Integrations-Page"
					target="_blank"
					rel="noopener noreferrer"
					class="text-primary-500"
				>
					Discord
				</a>
				webhook and add its URL here to start receiving notifications.
			</p>
			<div class="flex flex-col">
				<span class="font-semibold text-base-900 mb-2"> Webhook URL </span>
				{{if not .Settings.WebhookURL}}
					<form
						class="flex gap-2"
						hx-post="/settings/webhook"
						hx-boost="true"
						hx-swap="innerHTML"
						hx-push-url="false"
					>
						<input
							id="webhook_url"
							name="webhook_url"
							class="grow border border-base-200 rounded-md px-2 py-1 focus:outline-2 outline-primary-500 -outline-offset-2"
							autocomplete="off"
							required
						/>
						<button
							type="submit"
							class="w-fit px-3 py-1.5 bg-primary-500 text-base-white rounded-md font-medium"
						>
							Add
						</button>
					</form>
				{{else}}
					<div class="flex gap-2">
						<span
							class="bg-base-100 rounded-md py-1.5 overflow-auto border-x-12 border-base-100 whitespace-nowrap"
						>
							{{.Settings.WebhookURL}}
						</span>
						<button
							hx-delete="/settings/webhook"
							class="px-3 py-1 bg-red-600/80 text-base-white rounded-md font-medium"
						>
							Remove
						</button>
					</div>
				{{end}}
			</div>
			<div class="flex flex-col">
				<span class="font-semibold text-base-900 mb-2">
					Expiration reminder
				</span>
				<form
					class="flex gap-2"
					hx-put="/settings/reminders"
					hx-on::after-request="htmx.addClass(htmx.find('#banner'), 'hidden', 2000);"
				>
					<div
						class="grow flex items-center rounded-md bg-base-100 overflow-hidden"
					>
						<select
							id="remind_before"
							name="remind_before"
							class="grow px-3 py-1.5 text-base-600 font-medium border-r-6 border-transparent"
						>
							{{$selected := .Settings.RemindBefore}}
							{{range $opt := .ReminderOptions}}
								<option
									value="{{$opt.Value}}"
									{{if eq $opt.Value $selected}}
										selected
									{{end}}
								>
									{{$opt.Display}}
								</option>
							{{end}}
						</select>
					</div>
					<button
						type="submit"
						class="w-fit px-3 py-1.5 bg-primary-500 text-base-white rounded-md font-medium"
					>
						Save
					</button>
				</form>
			</div>
		</div>
	</div>
{{end}}
