name: neverexpire
services:
  web:
    image: ghcr.io/lionpuro/neverexpire:latest
    command: ["./web"]
    environment:
      - APP_ENV=production
      - POSTGRES_HOST=postgres
      - POSTGRES_HOST_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=$REDIS_PASSWORD
      - OAUTH_GOOGLE_CLIENT_ID=${OAUTH_GOOGLE_CLIENT_ID}
      - OAUTH_GOOGLE_CLIENT_SECRET=${OAUTH_GOOGLE_CLIENT_SECRET}
      - OAUTH_GOOGLE_CALLBACK_URL=${OAUTH_GOOGLE_CALLBACK_URL}
    ports:
      - "3000"
    depends_on:
      migrate:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - app
    restart: unless-stopped
  worker:
    image: ghcr.io/lionpuro/neverexpire:latest
    command: ["./worker"]
    environment:
      - APP_ENV=production
      - POSTGRES_HOST=postgres
      - POSTGRES_HOST_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    depends_on:
      migrate:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - app
    restart: unless-stopped
  redis:
    image: redis
    command: ["--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    volumes:
      - redis:/var/lib/redis
    networks:
      - app
  postgres:
    image: postgres:17.4
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app
  migrate:
    build:
      context: .
      dockerfile_inline: |
        FROM migrate/migrate:latest
        COPY db/migrations /migrations
    depends_on:
      postgres:
        condition: service_healthy
    command:
      [
        "-path",
        "/migrations/",
        "-database",
        "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable",
        "up",
      ]
    networks:
      - app
  cron:
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DOCKER_PORT=5432
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

      - RCLONE_CONFIG_R2_TYPE=s3
      - RCLONE_CONFIG_R2_PROVIDER=Cloudflare
      - RCLONE_CONFIG_R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - RCLONE_CONFIG_R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - RCLONE_CONFIG_R2_REGION=auto
      - RCLONE_CONFIG_R2_ENDPOINT=${R2_ENDPOINT}
      - RCLONE_CONFIG_R2_ACL=private
      - RCLONE_CONFIG_R2_NO_CHECK_BUCKET=true
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
    build:
      context: ./utils/cron
      dockerfile: Dockerfile
    depends_on:
      migrate:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
    networks:
      - app
  caddy:
    build:
      context: .
      dockerfile_inline: |
        FROM caddy:latest
        COPY Caddyfile /etc/caddy/Caddyfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
    networks:
      - app
    volumes:
      - caddy_data:/data

volumes:
  redis:
  db:
  caddy_data:

networks:
  app:
