{{ define "title" }}TrackCerts{{ end }}
{{ define "content" }}
	<div class="flex flex-col max-w-3xl w-full mx-auto">
		<h1 class="font-bold text-xl text-base-900 mb-8">Account</h1>
		<span class="text-lg font-bold text-base-900">Email</span>
		<div class="flex text-base-700 mb-8">
			{{ .User.Email }}
			<a
				href="/logout"
				class="ml-auto flex gap-1 text-base-500 font-medium rounded-md px-3 py-1.5"
			>
				{{ template "icon-logout" }}
				Sign out
			</a>
		</div>
		<button
			id="delete-btn"
			class="w-fit bg-red-600/80 text-base-white font-medium rounded-md px-3 py-1.5"
		>
			Delete account
		</button>
		<dialog
			id="confirm-dialog"
			class="m-auto rounded-md backdrop:bg-[rgba(0,0,0,0.75)]"
		>
			<div class="flex flex-col p-6 gap-6">
				<span class="text-lg font-medium text-base-900 w-full">
					Are you sure you want to delete your account?
				</span>
				<div class="flex gap-4">
					<button
						id="cancel-btn"
						class="basis-1/2 bg-base-400 hover:bg-base-500/90 text-base-white font-medium rounded-md px-3 py-1.5"
					>
						Cancel
					</button>
					<button
						hx-delete="/account"
						hx-swap="none"
						class="basis-1/2 bg-red-600/80 hover:bg-red-700/80 text-base-white font-medium rounded-md px-3 py-1.5"
					>
						Delete
					</button>
				</div>
			</div>
		</dialog>
		<script src="/static/scripts/account.js"></script>
	</div>
{{ end }}
