{{ define "base" }}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link
				rel="preload"
				href="/static/fonts/open-sans/open-sans-latin-wght-normal.woff2"
				as="font"
				type="font/woff2"
				crossorigin
			/>
			<link rel="stylesheet" href="/static/css/global.css" />
			<link rel="icon" href="/static/favicon.ico" />
			<meta name="description" content="" />
			<title>{{ block "title" . }}TrackCerts{{ end }}</title>
			<script src="/static/scripts/htmx.min.js" defer></script>
			<script src="/static/scripts/local-time.min.js" type="module"></script>
		</head>
		<body>
			{{ block "body" . }}
			{{ end }}
		</body>
	</html>
{{ end }}
