{{ define "title" }}Settings - TrackCerts{{ end }}
{{ define "content" }}
	<div class="flex flex-col max-w-3xl w-full mx-auto gap-8">
		{{ template "h1" withAttributes "Text" "Settings" }}
		<div class="flex flex-col pb-4">
			<h2 class="font-bold text-lg text-base-900 mb-4">Account</h2>
			<span class="font-bold text-base-900">Email</span>
			<div class="flex items-center text-base-700">
				{{ .User.Email }}
				<button
					id="delete-btn"
					class="ml-auto bg-red-600/80 text-base-white font-medium rounded-md px-3 py-1.5"
				>
					Delete
				</button>
			</div>
			<dialog
				id="confirm-dialog"
				class="m-auto rounded-md backdrop:bg-[rgba(0,0,0,0.75)]"
			>
				<div class="flex flex-col p-6 gap-6">
					<span class="text-lg font-medium text-base-900 w-full">
						Are you sure you want to delete your account?
					</span>
					<div class="flex gap-4">
						<button
							id="cancel-btn"
							class="basis-1/2 bg-base-400 hover:bg-base-500/90 text-base-white font-medium rounded-md px-3 py-1.5"
						>
							Cancel
						</button>
						<button
							hx-delete="/account"
							hx-swap="none"
							class="basis-1/2 bg-red-600/80 hover:bg-red-700/80 text-base-white font-medium rounded-md px-3 py-1.5"
						>
							Delete
						</button>
					</div>
				</div>
			</dialog>
			<script src="/static/scripts/account.js"></script>
		</div>
		<div class="flex flex-col">
			<h2 class="font-bold text-lg text-base-900 mb-4">Notifications</h2>
			<p class="text-base-600 font-medium mb-4">
				Set up a
				<a
					href="https://support.discord.com/hc/en-us/articles/360045093012-Server-Integrations-Page"
					target="_blank"
					rel="noopener noreferrer"
					class="text-primary-500"
				>
					Discord
				</a>
				webhook and add its URL here to start receiving notifications.
			</p>
			<div class="flex flex-col mb-4">
				<label for="webhook_url" class="font-medium text-base-900 mb-2">
					Webhook URL
				</label>
				{{ if not .Settings.WebhookURL }}
					<form
						class="flex gap-2"
						hx-post="/settings/webhook"
						hx-boost="true"
						hx-swap="innerHTML"
						hx-push-url="false"
					>
						<input
							id="webhook_url"
							name="webhook_url"
							class="grow border border-base-200 rounded-md px-2 py-1 focus:outline-2 outline-primary-500 -outline-offset-2"
							autocomplete="off"
							required
						/>
						<button
							type="submit"
							class="w-fit px-3 py-1.5 bg-primary-500 text-base-white rounded-md font-medium"
						>
							Add
						</button>
					</form>
				{{ else }}
					<div class="flex gap-2">
						<span
							class="bg-base-100 rounded-md py-1.5 overflow-auto border-x-12 border-base-100 whitespace-nowrap"
						>
							{{ .Settings.WebhookURL }}
						</span>
						<button
							hx-delete="/settings/webhook"
							class="px-3 py-1 bg-red-600/80 text-base-white rounded-md font-medium"
						>
							Remove
						</button>
					</div>
				{{ end }}
			</div>
			<h3 class="font-bold text-base-900 mb-4">Expiration reminder</h3>
			<form
				class="contents"
				hx-put="/settings/reminders"
				hx-on::after-request="htmx.addClass(htmx.find('#banner'), 'hidden', 2000);"
			>
				<div
					class="mb-4 flex items-center rounded-md bg-base-100 overflow-hidden"
				>
					<label for="remind_before" class="px-3 font-medium text-base-900">
						Reminder
					</label>
					<select
						id="remind_before"
						name="remind_before"
						class="grow text-right px-3 py-1.5 text-base-600 font-medium border-r-6 border-transparent"
					>
						{{ $selected := .Settings.RemindBefore }}
						{{ range $opt := .ReminderOptions }}
							<option
								value="{{ $opt.Value }}"
								{{ if eq $opt.Value $selected }}
									selected
								{{ end }}
							>
								{{ $opt.Display }}
							</option>
						{{ end }}
					</select>
				</div>
				<button
					type="submit"
					class="w-fit px-3 py-1.5 bg-primary-500 text-base-white rounded-md font-medium"
				>
					Save
				</button>
			</form>
		</div>
	</div>
{{ end }}
