{{template "layout" .}}
{{define "title"}}Notifications - neverexpire.xyz{{end}}
{{define "content"}}
	<div class="flex flex-col max-w-3xl w-full mx-auto">
		{{template "h1" kv "Text" "Notifications"}}
		<div
			class="flex gap-2 mt-8 border-base-200/50 border-b"
			hx-boost="true"
			hx-push-url="false"
		>
			<a
				href="/notifications"
				class="{{cn
					"py-1 px-2 border-b-2"
					(ccn (ne .Tab "unread") "border-primary-500")
					(ccn (eq .Tab "unread") "border-transparent")
				}}"
			>
				All
			</a>
			<a
				href="/notifications?filter=unread"
				class="{{cn
					"py-1 px-2 border-b-2"
					(ccn (eq .Tab "unread") "border-primary-500")
					(ccn (ne .Tab "unread") "border-transparent")
				}}"
			>
				Unread
			</a>
			<form
				action="/notifications/read"
				method="PATCH"
				hx-boost="true"
				hx-push-url="false"
				class="ml-auto"
			>
				{{$enabled := false}}
				{{range $notification := .Notifications}}
					{{if not $notification.ReadAt}}
						{{$enabled = true}}
						<input
							type="hidden"
							name="notification_id"
							value="{{$notification.ID}}"
						/>
					{{end}}
				{{end}}
				<button
					type="submit"
					class="font-medium text-primary-600 py-1 disabled:text-base-500"
					{{if not $enabled}}
						disabled
					{{end}}
				>
					Mark all as read
				</button>
			</form>
		</div>
		<ul class="flex flex-col">
			{{if not .Notifications}}
				<div class="mt-4 text-base-600">
					{{if eq .Tab "unread"}}
						No unread notifications
					{{else}}
						No recent notifications
					{{end}}
				</div>
			{{else}}
				{{range $notification := .Notifications}}
					<li class="flex p-2 border-base-200/50 border-b last:border-none">
						<div class="flex flex-wrap">
							{{$classname := "text-base-700"}}
							{{if not $notification.ReadAt}}
								{{$classname = "text-base-950 relative before:absolute before:top-0 before:left-0 before:content-['•'] before:text-2xl/5 before:text-primary-500"}}
							{{end}}
							<span class="{{cn "pl-5 font-medium" $classname}}">
								{{$notification.Body}}
							</span>
							<span class="pl-5 w-full text-base-400 text-sm font-medium">
								<local-time
									datetime="{{datef $notification.CreatedAt "2006-01-02T15:04:05.000Z"}}"
									short="true"
								>
									{{$notification.CreatedAt}}
								</local-time>
							</span>
						</div>
					</li>
				{{end}}
			{{end}}
		</ul>
	</div>
{{end}}
