{{template "layout" .}}
{{define "title"}}Settings - NeverExpire{{end}}
{{define "content"}}
	<div class="flex flex-col max-w-3xl w-full mx-auto gap-8">
		{{template "h1" withAttributes "Text" "Settings"}}
		<div class="flex flex-col gap-4">
			{{template "h2" withAttributes "Text" "Account"}}
			<div class="flex flex-col">
				<span class="font-semibold text-base-950">Email</span>
				<div class="flex items-center text-base-600 font-medium">
					{{.LayoutData.User.Email}}
					<button
						id="delete-btn"
						class="ml-auto bg-red-600/80 text-base-white font-medium rounded-md px-3 py-1.5"
					>
						Delete
					</button>
				</div>
			</div>
			<dialog
				id="confirm-dialog"
				class="m-auto rounded-md backdrop:bg-[rgba(0,0,0,0.75)]"
			>
				<div class="flex flex-col p-6 gap-6">
					<span class="text-lg font-medium text-base-950 w-full">
						Are you sure you want to delete your account?
					</span>
					<div class="flex gap-4">
						<button
							id="cancel-btn"
							class="basis-1/2 bg-base-400 hover:bg-base-500/90 text-base-white font-medium rounded-md px-3 py-1.5"
						>
							Cancel
						</button>
						<button
							hx-delete="/account"
							hx-swap="none"
							class="basis-1/2 bg-red-600/80 hover:bg-red-700/80 text-base-white font-medium rounded-md px-3 py-1.5"
						>
							Delete
						</button>
					</div>
				</div>
			</dialog>
			<script src="/assets/scripts/account.js"></script>
		</div>
		<div class="flex flex-col gap-4">
			{{template "h2" withAttributes "Text" "Notifications"}}
			<div class="flex flex-col">
				<h3 class="font-semibold mb-3">Webhook</h3>
				<p class="text-base-600 font-medium mb-3">
					Set up a
					<a
						href="https://support.discord.com/hc/en-us/articles/360045093012-Server-Integrations-Page"
						target="_blank"
						rel="noopener noreferrer"
						class="text-primary-500"
					>
						Discord
					</a>
					or
					<a
						href="https://api.slack.com/messaging/webhooks"
						target="_blank"
						rel="noopener noreferrer"
						class="text-primary-500"
					>
						Slack
					</a>
					webhook and add its URL here.
				</p>
				<form
					class="flex flex-col"
					hx-post="/settings/webhook"
					hx-boost="true"
					hx-swap="innerHTML"
					hx-push-url="false"
				>
					<div class="flex items-center gap-2 mb-3">
						<span class="min-w-18 font-medium text-base-950"> Provider </span>
						<select
							id="webhook_provider"
							name="webhook_provider"
							class="rounded-md max-w-36 min-h-8.5 px-3 py-1 text-base-800 border-r-6 border-transparent bg-base-100 disabled:appearance-none disabled:border-r-0 disabled:w-fit"
							autocomplete="off"
							required
							{{if or .Settings.WebhookProvider .Settings.WebhookURL}}
								disabled
							{{end}}
						>
							{{$current := .Settings.WebhookProvider}}
							{{if not $current}}
								<option disabled selected value="">--</option>
							{{end}}
							{{range $opt := .WebhookOptions}}
								<option
									value="{{$opt.Value}}"
									{{if and $current (eq $opt.Value.String $current.String)}}
										selected
									{{end}}
								>
									{{$opt.Label}}
								</option>
							{{end}}
						</select>
					</div>
					<div class="flex items-center gap-2 mb-3">
						<span class="min-w-18 font-medium text-base-950"> URL </span>
						{{if not .Settings.WebhookURL}}
							<input
								id="webhook_url"
								name="webhook_url"
								class="grow border border-base-200 rounded-md px-2 py-1 focus:outline-2 outline-primary-500 -outline-offset-2"
								autocomplete="off"
								required
							/>
						{{else}}
							<span
								class="bg-base-100 rounded-md py-1 overflow-auto border-x-12 border-y border-base-100 whitespace-nowrap"
							>
								{{.Settings.WebhookURL}}
							</span>
						{{end}}
					</div>
					{{if or .Settings.WebhookProvider .Settings.WebhookURL}}
						<button
							hx-delete="/settings/webhook"
							class="w-fit px-3 py-1.5 bg-red-600/80 text-base-white rounded-md font-medium"
						>
							Remove
						</button>
					{{else}}
						<button
							type="submit"
							class="w-fit px-3 py-1.5 bg-primary-500 text-base-white rounded-md font-medium"
						>
							Add
						</button>
					{{end}}
				</form>
			</div>
			<div class="flex flex-col">
				<span class="font-semibold text-base-950 mb-2">
					Expiration reminder
				</span>
				<form
					class="flex gap-2"
					hx-put="/settings/reminders"
					hx-on::after-request="htmx.addClass(htmx.find('#banner'), 'hidden', 2000);"
				>
					<div
						class="grow flex items-center rounded-md bg-base-100 overflow-hidden"
					>
						<select
							id="reminder_threshold"
							name="reminder_threshold"
							class="grow px-3 py-1.5 text-base-600 border-r-6 border-transparent"
						>
							{{$selected := .Settings.ReminderThreshold}}
							{{range $opt := .ReminderOptions}}
								<option
									value="{{$opt.Value}}"
									{{if eq $opt.Value $selected}}
										selected
									{{end}}
								>
									{{$opt.Display}}
								</option>
							{{end}}
						</select>
					</div>
					<button
						type="submit"
						class="w-fit px-3 py-1.5 bg-primary-500 text-base-white rounded-md font-medium"
					>
						Save
					</button>
				</form>
			</div>
		</div>
	</div>
{{end}}
