{{define "layout"}}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<title>{{block "title" .}}neverexpire.xyz{{end}}</title>
			<meta name="description" content="" />
			<link
				rel="preload"
				href="/assets/fonts/inter/inter-latin-wght-normal.woff2"
				as="font"
				type="font/woff2"
				crossorigin
			/>
			<link rel="icon" href="/assets/favicon.ico" />
			<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
			<link rel="stylesheet" href="/assets/css/global.css" />
			<script src="/assets/scripts/htmx.min.js" defer></script>
			<script src="/assets/scripts/index.js" type="module"></script>
			<script src="/assets/scripts/local-time.js" type="module"></script>
			{{block "head" .}}
			{{end}}
		</head>
		<body>
			{{block "body" .}}
				<div class="flex flex-col min-h-full">
					{{template "header" .}}
					<div id="banner-container">
						{{if .LayoutData.Error}}
							{{template "error-banner" kv "Error" .LayoutData.Error}}
						{{end}}
					</div>
					<div
						id="content"
						class="flex flex-col p-6 sm:p-8 grow max-w-screen-xl mx-auto w-full"
					>
						{{block "content" .}}
						{{end}}
					</div>
				</div>
			{{end}}
		</body>
	</html>
{{end}}

{{define "header"}}
	<header class="flex px-4 mb-4 border-b border-base-100">
		<nav hx-boost="true" class="flex w-full">
			<a href="/" class="flex items-center py-3">
				{{template "logo"}}
			</a>
			<div class="ml-auto flex items-center">
				{{if .LayoutData.User}}
					<a
						href="/hosts"
						class="font-medium text-base-500 hover:text-base-800 p-3"
					>
						Hosts
					</a>
					<a
						href="/account/api"
						class="font-medium text-base-500 hover:text-base-800 p-3"
					>
						API
					</a>
					<a
						href="/notifications"
						class="font-medium text-base-500 hover:text-base-800 px-2"
					>
						<span
							class="relative flex p-1"
							hx-get="/partials/notifications/count"
							hx-trigger="load"
							hx-target="#notification-badge"
							hx-swap="innerHTML settle:0.025s"
						>
							<span id="notification-badge" class="contents">
								{{template "notification-badge"}}
							</span>
							{{template "icon-bell" kv "size" "22"}}
						</span>
					</a>
					<details id="account-menu" class="ml-2 relative">
						<summary
							id="menu-toggle"
							class="list-none select-none cursor-pointer py-3 flex gap-1 text-base-500 hover:text-base-800 font-medium"
						>
							{{$username := index (split .LayoutData.User.Email "@") 0}}
							{{$username}}
							{{template "icon-chevron-down"}}
						</summary>
						<ul
							class="flex flex-col min-w-36 absolute z-[999] right-0 bg-base-white border border-base-200 rounded-md overflow-hidden"
						>
							<li>
								<a
									href="/settings"
									class="flex items-center gap-2 font-medium text-base-600 hover:bg-base-100 px-4 py-2 border-b border-base-200"
								>
									{{template "icon-cog" kv "size" "20"}}
									Settings
								</a>
							</li>
							<li>
								<a
									href="/logout"
									hx-boost="false"
									class="whitespace-nowrap flex items-center gap-2 text-red-600/80 hover:bg-base-100 font-medium px-4 py-2"
								>
									{{template "icon-logout" kv "size" "20"}}
									Sign out
								</a>
							</li>
						</ul>
					</details>
				{{else}}
					<a href="/login" class="ml-auto text-primary-500 font-medium py-3">
						Log in
					</a>
				{{end}}
			</div>
		</nav>
	</header>
{{end}}
