{{template "layout" .}}
{{define "title"}}{{.Host.Hostname}} - neverexpire.xyz{{end}}
{{define "content"}}
	<div class="flex flex-col max-w-3xl w-full mx-auto gap-6">
		<a
			href="/hosts"
			hx-boost="true"
			class="flex items-center gap-1 font-medium text-primary-500 w-fit"
		>
			{{template "icon-arrow-left" kv "size" "20"}}
			Hosts
		</a>
		<div class="flex flex-col gap-1">
			<h1 class="flex gap-3 items-center font-semibold text-xl text-base-950">
				{{.Host.Hostname}}
				<a
					href="https://{{.Host.Hostname}}"
					target="_blank"
					rel="noopener noreferrer"
					class="text-base-400 hover:text-base-500"
				>
					{{template "icon-link-external"}}
				</a>
			</h1>
			<span class="text-base-500 font-medium max-sm:text-sm">
				{{.Host.Certificate.IP}}
			</span>
		</div>
		<ul
			class="grid grid-cols-[minmax(40%,auto)_minmax(0,1fr)] sm:grid-cols-2 gap-2 max-sm:text-sm"
		>
			<li class="contents">
				<span class="font-medium text-base-800">Status</span>
				<span
					class="{{statusClass .Host.Certificate | cn "w-20 rounded-full flex justify-center items-center px-2 py-0.5 text-sm font-medium"}}"
				>
					{{statusText .Host.Certificate}}
				</span>
			</li>
			{{template "li" args
				(kv "key" "Issuer")
				(kv "val" .Host.Certificate.IssuedBy)
			}}
			<li class="contents">
				<span class="font-medium text-base-800"> Expires </span>
				<span class="font-medium text-base-600">
					{{$datetime := "n/a"}}
					{{if .Host.Certificate.ExpiresAt}}
						{{$datetime = datef .Host.Certificate.ExpiresAt "2006-01-02T15:04:05.000Z"}}
					{{end}}
					{{if eq $datetime "n/a"}}
						{{$datetime}}
					{{else}}
						<local-time datetime="{{$datetime}}">
							{{datef .Host.Certificate.ExpiresAt "2006-01-02 15:04:05"}}
						</local-time>
					{{end}}
				</span>
			</li>
			{{template "li" args
				(kv "key" "Latency")
				(kv "val" (printf "%d ms" .Host.Certificate.Latency))
			}}
			{{template "li" args
				(kv "key" "DNS")
				(kv "val" .Host.Certificate.DNSNames)
			}}
			{{$signature := .Host.Certificate.Signature}}
			{{if eq .Host.Certificate.Signature ""}}
				{{$signature = "n/a"}}
			{{end}}
			{{template "li" args
				(kv "key" "Signature")
				(kv "val" $signature)
				(kv "class" "break-all")
			}}
			{{if .Host.Certificate.Error}}
				{{template "li" args
					(kv "key"   "Error")
					(kv "val"   .Host.Certificate.Error.Error)
					(kv "class" "text-red-600/90 font-normal")
				}}
			{{end}}
			<li class="contents">
				<span class="font-medium text-base-800"> Last checked </span>
				<span class="font-medium text-base-600">
					<local-time
						datetime="{{datef .Host.Certificate.CheckedAt "2006-01-02T15:04:05.000Z"}}"
					>
						{{datef .Host.Certificate.CheckedAt "2006-01-02 15:04:05"}}
					</local-time>
				</span>
			</li>
		</ul>
		<button
			hx-delete="/hosts/{{.Host.ID}}"
			class="w-fit px-4 py-1.5 rounded-md bg-red-600/80 text-base-white font-medium"
		>
			Delete
		</button>
	</div>
{{end}}
{{define "li"}}
	<li class="contents">
		<span class="font-medium text-base-800">
			{{.key}}
		</span>
		<span class="font-medium text-base-600 {{.class}}">
			{{.val}}
		</span>
	</li>
{{end}}
