{{template "layout" .}}
{{define "title"}}Add hosts - NeverExpire{{end}}
{{define "content"}}
	<div class="flex flex-col max-w-3xl gap-4 w-full mx-auto">
		{{template "h1" withAttributes
			"Text" "Add hosts"
		}}
		<form
			class="flex flex-col gap-4"
			action="/hosts"
			method="POST"
			hx-boost="true"
			hx-push-url="false"
			hx-disabled-elt="#submit"
		>
			<span class="text-base-600">
				Enter a single domain or a comma separated list of all the domain names
				you want to track.
			</span>
			{{/*prettier-ignore-start*/}}
			<textarea
				id="hosts"
				name="hosts"
				placeholder="example.com, google.com"
				rows="2"
				class="border border-base-200 p-3 rounded-md focus:outline-2 outline-blue-500 -outline-offset-2"
			>{{if .InputValue}}{{.InputValue}}{{end}}</textarea>
			{{/*prettier-ignore-end*/}}
			<button
				id="submit"
				type="submit"
				class="w-fit font-medium px-4 py-1.5 rounded-md bg-primary-500 hover:bg-primary-600/90 text-base-white disabled:bg-base-200 disabled:text-base-400"
			>
				Track
			</button>
		</form>
		<script>
			document.querySelector("#hosts").addEventListener("keypress", (e) => {
				if (e.key === "Enter" && !e.shiftKey) {
					e.preventDefault();
					const event = new Event("submit", { cancelable: true });
					e.currentTarget.form.dispatchEvent(event);
				}
			});
		</script>
	</div>
{{end}}
