{{define "layout"}}
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<title>{{block "title" .}}NeverExpire{{end}}</title>
			<meta name="description" content="" />
			<link
				rel="preload"
				href="/static/fonts/inter/inter-latin-wght-normal.woff2"
				as="font"
				type="font/woff2"
				crossorigin
			/>
			<link rel="icon" href="/static/favicon.ico" />
			<link rel="icon" type="image/svg+xml" href="/static/favicon.svg" />
			<link rel="stylesheet" href="/static/css/global.css" />
			<script src="/static/scripts/htmx.min.js" defer></script>
			<script src="/static/scripts/local-time.js" type="module"></script>
		</head>
		<body>
			{{block "body" .}}
				<div class="flex flex-col min-h-full">
					{{template "header" .}}
					<div id="banner-container">
						{{if .LayoutData.Error}}
							{{template "error-banner" withAttributes "Error" .LayoutData.Error}}
						{{end}}
					</div>
					<div
						id="content"
						class="flex flex-col p-6 sm:p-8 grow max-w-screen-xl mx-auto w-full"
					>
						{{block "content" .}}
						{{end}}
					</div>
				</div>
			{{end}}
		</body>
	</html>
{{end}}

{{define "header"}}
	<header class="flex px-4 mb-4">
		<nav hx-boost="true" class="flex w-full">
			<a href="/" class="flex items-center py-3">
				{{template "logo"}}
			</a>
			<div class="ml-auto flex items-center gap-4">
				{{if .LayoutData.User}}
					<a href="/domains" class="font-medium text-base-600 py-3">
						Domains
					</a>
					<div class="relative">
						<button
							class="z-[999] py-3 flex gap-1 text-base-600 font-medium"
							hx-on:click="htmx.toggleClass(htmx.find('#dropdown-content'), 'hidden'); htmx.toggleClass(htmx.find('#dropdown-backdrop'), 'hidden');"
						>
							{{$username := index (split .LayoutData.User.Email "@") 0}}
							{{$username}}
							{{template "icon-chevron-down"}}
						</button>
						<ul
							id="dropdown-content"
							class="z-[999] hidden flex flex-col min-w-36 absolute right-0 border border-base-200 bg-base-white rounded-md overflow-hidden select-none"
						>
							<a
								href="/settings"
								class="flex items-center gap-2 font-medium text-base-600 hover:bg-base-100 px-4 py-2 border-b border-base-200"
								hx-on:click="htmx.toggleClass(htmx.find('#dropdown-content'), 'hidden'); htmx.toggleClass(htmx.find('#dropdown-backdrop'), 'hidden');"
							>
								{{template "icon-cog" withAttributes "size" "20"}}
								Settings
							</a>
							<a
								href="/logout"
								hx-boost="false"
								class="whitespace-nowrap flex items-center gap-2 text-red-600/80 hover:bg-base-100 font-medium px-4 py-2"
							>
								{{template "icon-logout" withAttributes "size" "20"}}
								Sign out
							</a>
						</ul>
					</div>
					<div
						id="dropdown-backdrop"
						class="z-[900] absolute top-0 left-0 w-full h-full hidden"
						hx-on:click="htmx.toggleClass(htmx.find('#dropdown-content'), 'hidden'); htmx.toggleClass(htmx.find('#dropdown-backdrop'), 'hidden');"
					></div>
				{{else}}
					<a href="/login" class="ml-auto text-primary-500 font-medium py-3">
						Log in
					</a>
				{{end}}
			</div>
		</nav>
	</header>
{{end}}
