@import "tailwindcss";

@font-face {
	font-family: "Inter Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url("/assets/fonts/inter/inter-latin-wght-normal.woff2")
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: "Inter Variable";
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url("/assets/fonts/inter/inter-latin-wght-italic.woff2")
		format("woff2-variations");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

@theme {
	--color-primary-50: #eefafd;
	--color-primary-100: #d5f1f8;
	--color-primary-200: #b0e3f1;
	--color-primary-300: #7acee6;
	--color-primary-400: #45b3d5;
	--color-primary-500: #2193b9;
	--color-primary-600: #1e769c;
	--color-primary-700: #1f607f;
	--color-primary-800: #225068;
	--color-primary-900: #204359;
	--color-primary-950: #102b3c;

	--color-base-white: #fcfcfc;
	--color-base-50: #f7f7f8;
	--color-base-100: #eeeef0;
	--color-base-200: #dadadd;
	--color-base-300: #babbbf;
	--color-base-400: #94959c;
	--color-base-500: #767681;
	--color-base-600: #606169;
	--color-base-700: #4e4e56;
	--color-base-800: #434349;
	--color-base-900: #3b3c3f;
	--color-base-950: #27272a;

	--color-healthy-dark: #24ad5d;
	--color-healthy-light: #c3f3d7;
	--color-danger-dark: #ff4858;
	--color-danger-light: #ffe0e3;
	--color-warning-dark: #ffa503;
	--color-warning-light: #ffe3b3;
}

:root {
	font-family:
		"Inter Variable", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@apply bg-base-white text-base-950;
}

@layer base {
	button {
		@apply cursor-pointer;
	}
}
